<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>ifelse Control Flow</h1>
    <p>if ...</p>
    <!-- <button class="btn btn-primary"  (click)="navigateToAttribute()">Goto Attribute</button> -->
</div>  
<div class="row pt-3">
    <div class="col-3">
        @if(div1Visible) {
        <div class="bg-primary p-3 text-center">
            <h4>Div 1</h4>
        </div>
    }
    </div>
    <div class="col-3">
        @if(div2Visible) {
        <div class="bg-success p-3 text-center">  
            <h4>Div 2 Success</h4>
        </div>
    } @else {
        <div class="bg-warning p-3 text-center">  
            <h4>Div 2 Warning</h4>
        </div>
    }
    </div>
    <div class="col-3">
        @if(num1 == num2) {
        <div class="bg-secondary p-3 text-center">
            <h4>Div 3</h4>
        </div>
    }
    </div>
    <div class="col-3">
        <div class="bg-primary p-3 text-center">
            @if(selectedStatus == 'ACTIVE') {
                <p>ACTIVE</p>
            } @else if(selectedStatus == 'INACTIVE') {
                <p>INACTIVE</p>
            } @else if(selectedStatus == 'PENDING') {
                <p>PENDING</p>
            } @else {
                <p>DIV4</p>
            }
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-2 text-center">
        <button (click)="hideDiv1()" class="btn btn-danger">Hide</button>
        <button (click)="showDiv1()"class="btn btn-primary mx-2">Show</button>
    </div>
    <div class="col-3 text-center">
        <button (click)="toggleDiv2()" class="btn btn-success">Toggle</button>
    </div>
    <div class="col-3">
        <div style="display: flex;align-items:center">
            <input type="text" [(ngModel)]="num1" placeholder="Num-1" class="width-50">
            <input type="text" [(ngModel)]="num2" placeholder="Num-2" class="width-50">
        </div>
    </div>
    <div class="col-4">
        <div style="display: flex;align-items:center" class="width-50">
            <select [(ngModel)]="selectedStatus">
                <option value="">Select Status</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
                <option value="PENDING">PENDING</option>
            </select>
        </div>
    </div>
</div>